Flask
Flask-Login
Flask-Mail
Flask-SQLAlchemy
Flask-Testing
Flask-WTF
Jinja2
SQLAlchemy
Tempita
WTForms
Werkzeug
blinker
decorator
ipython
sqlalchemy-migrate
gunicorn
psycopg2-binary
python-dotenv
Flask-Migrate
MarkupSafe
